<h2>投稿を編集</h2>

<form name="editStory.form" novalidate>
  <div class="form-group">
    <label>タイトル</label>
    <input type="text" class="form-control" ng-model="editStory.story.title"
        name="title" required>
  </div>
  <div class="form-group">
    <label>本文</label>
    <textarea class="form-control" rows="7" ng-model="editStory.story.body"
        name="body" required></textarea>
  </div>
  <button class="btn btn-primary" ng-disabled="editStory.form.$invalid"
      ng-click="editStory.save()">
    更新
  </button>
</form>
